<p>login works! </p>
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p style="color: green;" *ngIf="successMessage">{{ successMessage }}</p>
  <p style="color: red;" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
